---
layout: default
title: Ojo Caliente
subtitle: Where We've Landed
banner-image: images/river.jpg
values:
  - name: One Value
    icon: fa-heart fa-3x
    description: Kitten. Sphynx bobcat and birman yet british shorthair yet lynx or grimalkin. Ragdoll      burmese ragdoll american bobtail.
  - name: Second Value
    icon: fa-hand-lizard fa-3x
    description: Kitten. Sphynx bobcat and birman yet british shorthair yet lynx or grimalkin. Ragdoll      burmese ragdoll american bobtail.
  - name: Third Value
    icon: fa-smile fa-3x
    description: Kitten. Sphynx bobcat and birman yet british shorthair yet lynx or grimalkin. Ragdoll      burmese ragdoll american bobtail.
  - name: Last Value
    icon: fa-recycle fa-3x
    description: Kitten. Sphynx bobcat and birman yet british shorthair yet lynx or grimalkin. Ragdoll      burmese ragdoll american bobtail.
links:
  - name: site
    image: images/sand.jpg
    url: http://taos.org
  - name: another site
    image: images/sand.jpg
    url: http://taos.org
  - name: third site
    image: images/sand.jpg
    url: http://taos.org
  - name: last site
    image: images/sand.jpg
    url: http://taos.org
---

<section class="grid-center centered">
  <p>Nestled in the San Luis valley of northern New Mexico and southern Colorado...we've created a community... Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</section>
<section class="grid-noGutter dark">
  <h2 class="col-12-grid-center">Community Values</h2>
  {% for value in page.values %}
  <div class="col-6">
    <div class="value-box">
      <i class="fas {{value.icon}}"></i>
      <h3>{{value.name}}</h3>
      <p>{{value.description}} </p>
    </div>
  </div>
  {% endfor %}
</section>
<section class="grid-noGutter less-padding">
  <div class="col-4 grid-noGutter centered green-background">
    <h2 class="col-12-middle special-font bold">Why Ojo Caliente?</h2>
  </div>
  <div class="col-8">
    <div class="padding-sides overlay-text">
      <h4>Resources of the Land</h4>
      <p class="small-text">Tiger mouser. Maine coon russian blue lion bombay yet donskoy scottish fold sphynx. Kitten. Sphynx   bobcat and birman yet british shorthair yet lynx or grimalkin. Ragdoll burmese ragdoll american   bobtail.iger mouser. Maine coon russian blue lion bombay yet donskoy scottish fold sphynx. Kitten.  Sphynx bobcat and birman yet british shorthair yet lynx or grimalkin. Ragdoll burmese ragdoll american  bobtail.</p>
      <h4>What's Nearby</h4>
      <p class="small-text">Tiger mouser. Maine coon russian blue lion bombay yet donskoy scottish fold sphynx. Kitten. Sphynx   bobcat and birman yet british shorthair yet lynx or grimalkin. Ragdoll burmese ragdoll american   bobtail.iger mouser. Maine coon russian blue lion bombay yet donskoy scottish fold sphynx. Kitten.  Sphynx bobcat and birman yet british shorthair yet lynx or grimalkin. Ragdoll burmese ragdoll american  bobtail.</p>
      <div class="grid-noGutter">
        {% for link in page.links %}
        <div class="col-3">
          <a class="button-picture" href="{{link.url}}" style="background-image:url({{link.image}})">
            {{link.name}}
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

</section>
