---
layout: default
---

<section class="grid-middle-noGutter">
      <div class="col-12">
        <h2 class="centered">Features:</h2>
      </div>
    {% for feature in page.features %}
    <div class="col-4">
      <div class="value-box">
        <i class="fas {{feature.icon}}"></i>
        <h3>{{feature.name}}</h3>
        <p>{{feature.description}} </p>
      </div>
    </div>
    {% endfor %}
</section>

<section class="grid">
  <div class="col-4 bg-grey grid">
    <div class="col-12-middle">
      <div class="grid-middle">
        <h2 id="ship-models" class="special-font bold">Our Models</h2>
      </div>
    </div>
  </div>
  <div class="col-8">
    <div class="col-12">
    <div class="ship-overlay-paragraphs">
      {% for model in page.models %}
      <div class="grid padding-bottom-top">
        <div class="col-4 bg-image" style="background-image: url({{ model.image }})">
        </div>
        <div class="col-8">
          <h3>{{model.name}}</h3>
          <p class="small-text">{{model.description}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  </div>
</section>

<section class="grid dark">
  <div class="col-12 ships-block-heading">
    <p><span class="big-text">Available as vacation rentals or permanent homes</span>, Tiger mouser. Maine coon russian blue lion bombay yet donskoy scottish fold   sphynx. Kitten. Sphynx   bobcat and birman yet british shorthair yet lynx or grimalkin. Ragdoll   burmese ragdoll american   bobtail.iger mouser. Maine coon russian blue lion bombay yet donskoy   scottish fold sphynx. Kitten.  Sphynx bobcat and birman yet british shorthair yet lynx or grimalkin.  Ragdoll burmese ragdoll american  bobtail. Maine coon russian blue lion bombay yet donskoy   scottish fold sphynx. Kitten.  Sphynx bobcat and birman yet british shorthair yet lynx or grimalkin.  Ragdoll burmese ragdoll american  bobtail.</p>
  </div>
</section>

<section class="gallery grid-middle-center popup-gallery">
  <div class="col-12">
    <h2 class="special-font centered">{{page.galleryTitle}}</h2>
  </div>
  <div class="col-12 grid">
    {% for image in page.pictures limit:6 %}
    <a class="col-4" href="{{ image.image }}">
      <div class="gallery-image  gallery-image-regular" style="background-image: url({{ image.image }})">
      </div>
    </a>
    {% endfor %}
  </div>
</section>

<!-- <section class="gallery grid-middle-center">
  <div class="col-12">
    <h2 class="centered special-font"> From the Outside </h2>
  </div>
  <div class="col-12 grid">
    <div class="col-4">
      <div class="gallery-image  gallery-image-regular" style="background-image: url({{ page.pictures[0].image }})">
      </div>
    </div>
    <div class="col-4">
      <div class="gallery-image  gallery-image-regular" style="background-image: url({{ page.pictures[1].image }})">
      </div>
    </div>
    <div class="col-4">
      <div class="gallery-image  gallery-image-regular" style="background-image: url({{ page.pictures[2].image }})">
      </div>
    </div>
  </div>
  <div class="col-12 grid">
    <div class="col-4">
      <div class="gallery-image  gallery-image-regular" style="background-image: url({{page.pictures[4].image }})">
      </div>
    </div>
    <div class="col-4">
      <div class="gallery-image  gallery-image-regular" style="background-image: url({{page.pictures[5].image }})">
      </div>
    </div>
    <div class="col-4">
      <div class="gallery-image  gallery-image-regular" style="background-image: url({{page.pictures[6].image }})">
      </div>
    </div>
  </div>

</section>

<section class="gallery grid-middle-center">
  <div class="col-12">
    <h2 class="centered special-font">On the Inside</h2>
  </div>
  <div class="col-12 grid">
    <div class="col-4">
      <div class="gallery-image  gallery-image-regular" style="background-image: url({{ page.pictures[0].image }})">
      </div>
    </div>
    <div class="col-4">
      <div class="gallery-image  gallery-image-regular" style="background-image: url({{ page.pictures[1].image }})">
      </div>
    </div>
    <div class="col-4">
      <div class="gallery-image  gallery-image-regular" style="background-image: url({{ page.pictures[2].image }})">
      </div>
    </div>
  </div>
  <div class="col-12 grid">
    <div class="col-4">
      <div class="gallery-image  gallery-image-regular" style="background-image: url({{page.pictures[4].image }})">
      </div>
    </div>
    <div class="col-4">
      <div class="gallery-image  gallery-image-regular" style="background-image: url({{page.pictures[5].image }})">
      </div>
    </div>
    <div class="col-4">
      <div class="gallery-image  gallery-image-regular" style="background-image: url({{page.pictures[6].image }})">
      </div>
    </div>
  </div>

</section> -->
