/* resets */
*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  /* border: 1px solid yellow; */
}

[class*=grid-], [class*=grid_], [class~=grid]{
  margin: 0;
}

/* universal styles  */

body{
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  color: #030240;
}

section{
  padding: 5% 15%;
}


h1, h2, h3, h4{
  font-family: 'Fira Sans', sans-serif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: -0.03em;
  margin: 0.3rem 0;
  padding: 1% 2%;
  color:#030240;
}

h1{
  font-size: 4.5rem;
}

h2 {
  font-size: 2.2rem;
 }

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.5rem;
}

p{
  line-height: 1.8;
  margin: 1% 0;
  padding: 1% 2%;
}

a{
  text-decoration: none;
  color: black;
  padding: 2% 4%;
  object-fit: contain;
}

/* Position Helpers */
.relative {
  position: relative;
}
.absolute-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer .fab{
  font-size: 2rem;
  padding: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

[class*=col] {
padding: 2%;
}

/* header and footer */

header{
  padding: 0 15%;
}

header img{
  height: 3.8rem;
}

footer {
  padding: 3%;
}

.footer-logo{
  max-width: 30%;
  filter: invert(100%);

}

.footer-text-middle{
  line-height: 2;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

footer p{
  font-size: 1.2rem;
}

.footer nav{
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
}

footer a{
font-size: .9rem;
}

footer li{
    list-style-type: none;
    /* font-size: 1.2rem; */
    /* line-height: 2.0; */
    text-align: center;
    /* display: flex; */
    align-items: center;
    margin-bottom: .5rem;
}

.footer-quote{
  font-size: .75rem;
  /* padding-left: 18%; */
  /* padding-right: 25%; */
  letter-spacing: .1rem;
  font-family: 'Over the Rainbow', cursive;
  /* text-align: center; */

}



/*  utility classes */

.left{
  text-align: left;
  padding-left: 1rem;
}

.centered{
  text-align: center;
}

.right{
  text-align: right;
  padding-right: 1rem;
}

.padding-sides{
  padding: 2.5% 9%;
}

.less-padding{
  padding: 5% 7%;;
}

.button{
  padding: 10px;
  text-align: center;
  max-width: 50%;
  font-size: 1rem;
  display: inline-block;
  margin: auto;

}

.button-picture{
  text-decoration: none;
  color: black;
  padding: 20% 0%;
  object-fit: contain;
  min-width: 80%;
  display: inline-block;
  text-align: center;
}

.button-picture:hover{
  filter: opacity(50%);
}

.dark{
  color: #e6e6e6;
  background-color: #222231;
}

.dark *{
  color: white;
}

.light-text{
  color: #e6e6e6;
  background-color: rgba(152, 152, 131,.8);
}

.light{
  background-color: rgba(183, 159, 172,.5);
}

.bg-grey {
  background-color: #dcdcdc;
}

.feature-block{

}

.banner {
  /* height: 100vh; */
  padding: 0;

}

.banner .bg-img{
  filter: saturate(40%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  color: rgba(10, 10, 10, 0.7686274509803922);
}

.banner-image{
  height: 90vh;
}

.banner-content {
  position: relative;
  width: 200%;
  /* margin-left: -20%; */
  background-color: #f9f9f9;
  padding: 3rem;
}

.banner-content h1, .banner-content h3{
  font-family:'Over the Rainbow', cursive;
  text-align: center;
  font-weight: bold;
  letter-spacing: .1rem;
  padding: 1.5% 2%;
}

.banner-content h1{
  letter-spacing: .4rem;
}

.description-block{
  padding: 10% 15%;
}

.description-block p{
  font-size: .85rem;
}

.description-block-heading{
  padding-right: 10%;

}

.description-block-heading h2{
  font-size: 1.5rem;
  color: #7d7d7d;
}

.description-block-heading p{
  font-size: .85rem;
  color: #7d7d7d;
}

header nav a{
  color: black;
  padding: 1.5rem;
  display: inline-block;
}

header nav a:hover, footer nav a:hover{
  color: #e0e0e0;
  /* font-weight: bold; */
  /* border-bottom: 2px solid white; */
  transition: ease-in-out 0.15s;
  /* background-color: #f0f0f0; */
}


.bg-image{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  /* height: auto; */
}

.grow {
  transition: all .5s ease-in-out;
}

.grow:hover {
  transform: scale(1.5);
 }

.special-font{
  font-family:'Over the Rainbow', cursive;
  letter-spacing: .1em;
}

.bold{
  font-weight: bold;
}

.small-text{
  font-size: .85rem;
}

.big-text{
  font-size: 1.15rem;
  color: #e6e6e6;
}

.feature-block.header{

}

.feature-block-icon{

}

.feature-block-p{

}

/* Home page */

/* Location Page */

#why-ojo {
  position: relative;
  /* margin-left: -80px; */
  max-width: 200px;
  padding-left: 1rem;
}

.value-box{
  text-align: center;
  padding: 2rem;
}

.value-box h3{
  margin: 1rem 0 0 0;
}

.green-background{

}

.location-overlay-heading{
  background-color: #7d7d7d;
  /* height: -webkit-fill-available; */
  width: 150%;
  margin-left: -75px;
  text-align: center;
}

.location-overlay-paragraphs{
  position: relative;
  /* width:  */
  margin-left: -20%;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  padding: 1.5rem;
}

.location-overlay-paragraphs h2{
  font-size: 1.5em;
}

/* Ships Page */


#ship-models {
  position: relative;
  margin-left: -80px;
  max-width: 200px;
}

.ship-overlay-paragraphs{
  position: relative;
  width: 150%;
  margin-left: -20%;
  background-color: #f9f9f9;
  color: #7d7d7d;
  padding: 1.5rem;
}


/* Crew Page */

.crew-member-name{

}

.crew-member-title{

}

.crew-member-quote{

}

.crew-member-bio{

}

.crew-member-email{

}

/*
** GALLERY SECTION
*/
.gallery-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery-image-tall {
  padding-bottom: 150%;
}

.gallery-image-regular{
  padding-bottom: 80%;
}

.gallery-image-square {
  padding-bottom: 70%;
}

.gallery-image-panorama {
  padding-bottom: 35%;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/*
Website Fonts: 'Fira Sans', sans-serif; 'Raleway', sans-serif;
Website Colors: #e6e6e6 (light gray);
*/
